html,body,div,dl,dt,dd,ul,ol,li,pre,form,label,fieldset,p,blockquote{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0}
html{background:#FFF;color:#444;font:1em/1.7 Helvetica Neue,Arial,sans-serif}
body{margin:0 auto;max-width:40em;padding:0 1em}

a{color:#0A7;text-decoration:none}
a:hover{text-decoration:underline}

h1,h2,h3,h4,h5,h6{font-weight:400;margin:.5em 0}
h1{font-size:1.75em}h2{font-size:1.5em}h3,h4,h5,h6{font-size:1.25em}

p,ul,ol{margin:0 0 1.5em}

ul,ol{padding-left:2em}
ul ul,ol ol{margin:0}

#header{margin-bottom:1em;text-align:center}
#header h1{font-size:2.5em;margin:.25em 0 0}
#header h1 a{color:#000}
#header h2{margin:-.5em 0 .5em}

#header nav{text-align:center}

#header ul{list-style:none;margin:0;padding:0;display:grid;grid-gap:0;grid-template-columns:repeat(auto-fill, minmax(10em, 1fr))}
#header ul a{display:block;padding:.25em;background:#E0E8E4;color:#000;text-decoration:none;margin:-1px 0 0 -1px;border:1px solid;white-space:nowrap}
#header ul a:hover{background:#B9CBC2}

article header p{font-size:.875em;opacity:.8;margin:0 0 1em}

footer{margin:3em 0;font-size:.875em;text-align:center}

/** Background colors */
#sheetmusic .origins > li > a{background:#CDDAD3;font-weight:700}
#sheetmusic li{background:#E0E8E4}
#sheetmusic .origins > li > a:hover,#sheetmusic .sm > li:hover{background:#B9CBC2}

/** Indenting (dumb, but this does what I want) */
#sheetmusic ul{padding-left:0;list-style-type:none}
#sheetmusic ul ul li > a{padding-left:1em}
#sheetmusic ul ul ul li > a{padding-left:2em}
#sheetmusic ul ul ul ul li > a{padding-left:3em}

/** Links */
#sheetmusic a{color:#000;text-decoration:none}
#sheetmusic li > a{display:block;padding:.125em .5em}

/** Table-ness */
#sheetmusic{border:1px solid;border-top-width:0}
#sheetmusic ul{display:table;width:100%;border-collapse:collapse;margin:0}
#sheetmusic .origins > li, #sheetmusic .sm > li{display:table-row}
#sheetmusic .origins > li > a, #sheetmusic .sm > li{border-top:1px solid}
#sheetmusic .name, #sheetmusic .files{display:table-cell}

#sheetmusic .files{white-space:nowrap;width:1%;padding:0 .5em}
#sheetmusic .files a{margin:0 .25em}
#sheetmusic .files a:hover{text-decoration:underline}

ul.vg-origins{color:#000;list-style:none;padding:0;display:grid;grid-gap:.5em;
	grid-template-columns:repeat(auto-fill, minmax(8em, 1fr));grid-auto-rows:minmax(3em, auto)}
ul.vg-origins li a{opacity:.8;display:block;height:100%;text-align:center;display:flex;justify-content:center;align-items:center;
	color:inherit;border:1px solid #000;text-decoration:none;padding:0 .5em}
ul.vg-origins li a:hover{opacity:1}

a.circle{border:1px solid;border-radius:1em;padding:0 .35em;margin:0 .125em}
a.circle:hover{background:#0A7;color:#FFF;text-decoration:none}

@media(max-width:29em){
	#header h1{font-size:7vw}
	#header h2{font-size:5vw}
	h1{font-size:1.5em}
	#sheetmusic .files{display:none}
}

.origin-animal-crossing{background:#96E4B6}
.origin-arcade-games{background:#EAE900}
.origin-bravely-default{background:#CEBB96}
ul.vg-origins .origin-castlevania{background:#012D62;color:#FFF}
ul.vg-origins .origin-cave-story{background:#B83A1B;color:#FFF}
ul.vg-origins .origin-chrono-cross{background:#166D9D;color:#FFF}
ul.vg-origins .origin-donkey-kong{background:#994417;color:#FFF}
.origin-dragon-quest{background:#40B1F9}
.origin-duck-tales{background:#F2A73B}
.origin-earthbound{background:#F4B22F}
ul.vg-origins .origin-f-zero{background:#0568B7;color:#FFF}
.origin-final-fantasy{background:#6BA0BB}
ul.vg-origins .origin-fire-emblem{background:#AF4A1B;color:#FFF}
.origin-kid-icarus{background:#DEB126}
.origin-kirby{background:#ECA0A5}
ul.vg-origins .origin-legend-of-zelda{background:#019537;color:#FFF}
ul.vg-origins .origin-mario{background:#E81412;color:#FFF}
.origin-mega-man{background:#96C7DE}
ul.vg-origins .origin-metal-gear{background:#444f69;color:#FFF}
.origin-metroid{background:#EFB95B}
ul.vg-origins .origin-mortal-kombat{background:#ae2740;color:#FFF}
.origin-nintendo-wii{background:#9CDAE5}
ul.vg-origins .origin-phoenix-wright-ace-attorney{background:#4650A0;color:#FFF}
.origin-pokemon{background:#F7C603}
.origin-shin-onigashima{background:#67AFCE}
ul.vg-origins .origin-smash{background:#EF2721;color:#FFF}
.origin-star-fox{background:#ECB009}
.origin-tetris{background:#03f7F5}
ul.vg-origins .origin-wario{background:#812677;color:#FFF}
.origin-xenoblade-chronicles{background:#ABC7DE}