{% extends "base.html" %}

{% block title %}{{ article.title }} {{ TITLE_SEPARATOR}} {{ super() }}{% endblock %}

{% block content %}
	<header>
		<h1>{{ article.title }}</h1>
		<p>Posted on {{ article.locale_date }}. From
			{% for cat in article.category.ancestors or [article.category] %}
				<a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.breadcrumbname or cat.title or cat.shortname or cat }}</a>{{ ' &gt;' if not loop.last else '.' }}
			{% endfor %}
		</p>
	</header>

	<ul>
		<li><a href="{{ SITEURL }}/files/{{ article.fileslug }}.pdf">View the PDF</a></li>
		<li><a href="{{ SITEURL }}/files/{{ article.fileslug }}.mid">Listen to the MIDI</a></li>
		<li><a href="{{ SITEURL }}/files/{{ article.fileslug }}.xml">Download the MusicXML</a></li>
	</ul>

	{{ article.content }}

{% endblock %}