<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="all" href="{{ SITEURL }}/static/style.css" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/DrewsSheetMusic" />
</head>
<body>

	<header id="header">
		<h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>

		<nav>
			<ul>
				{% for cat in categories|map(attribute=0) %}
					{% if cat.ancestors|length == 1 %}<li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.title or cat }}</a></li>{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</header>

	<article>
		{% block content %}
		{% endblock %}
	</article>

	<footer>
		<p><a href="http://feeds.feedburner.com/DrewsSheetMusic">RSS</a> | <a href="mailto:hi@callmedrew.com">Contact</a> | Website &copy; <?php echo date('Y'); ?> <a href="http://callmedrew.com">Drew Mitchell</a>.</p>
	</footer>
</body>
</html>