{% extends "base.html" %}

{% block title %}
	{% for cat in category.ancestors|sort(reverse=True) or [category] %}
		{{ cat.shortname or cat }}
		{{ ' &lt;' if not loop.last }}
	{% endfor %}
	{{ TITLE_SEPARATOR}} {{ super() }}
{% endblock %}

{% block content %}
	<header>
		<h1>
			{% for cat in category.ancestors or [category] %}
				{% if not loop.last %}
					<a href="{{ SITEURL }}/{{ cat.url }}">
				{% endif %}
				{{ cat.shortname or cat }}
				{{ '</a> &gt;' if not loop.last }}
			{% endfor %}
		</h1>
	</header>

	<section id="sheetmusic">
		{% set songs = articles %}
		{% include "_songs_in_category.html" %}
	</section>

{% endblock %}