{% extends "base.html" %}

{% block content %}
	<p>Here is my compendium of nerdy sheet music transposed for B&#9837; clarinet. MusicXML files can be imported into many programs such as <a href="https://www.finalemusic.com/">Finale</a>, <a href="https://www.sibelius.com/">Sibelius</a>, <a href="https://musescore.org/">MuseScore</a>, and more. Have a request? Email me at <a href="mailto:hi@callmedrew.com">hi@callmedrew.com</a>. If I like it, I&rsquo;ll transpose it for you and upload it here.</p>

	<h2>Recently Added</h2>

	<ul>
		{% for song in (articles|sort(attribute='date', reverse=True))[:5] %}
			<li><a href="{{ SITEURL }}/{{song.url}}">{{ song.title }}</a> from {{ song.category.title or song.category.shortname or song.category }}</li>
		{% endfor %}
	</ul>

{% endblock %}
